<section id="section_about" class="container-fluid section-bg-lines-right s-p">
    <h1 class="title-generate">Nosotros como empresa</h1>
    <div class="container-about row">
        <div class="col">
            <h1>QUE HACEMOS</h1>
            <p>
                Nos especializamos en productos personalizados de software para la web, 
                nuestros clientes disfrutan de un amplio concepto de trabajo en equipo y calidad, 
                con resultados plenamente garantizados. 
            </p>
        </div>
        <div class="col">
            <h1>Fundadores Marwee</h1>
            <p>
                Nos especializamos en productos personalizados de software para la web, 
                nuestros clientes disfrutan de un amplio concepto de trabajo en equipo y calidad, 
                con resultados plenamente garantizados. 
            </p>
        </div>
    </div>
</section>
