<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" [routerLink]="['home']" >
                    <img src="assets/img/icon/oso.png" alt="logotipo" width="30px" height="24px">
                    Marwee
                    <small style="color: rgba(255, 51, 0,1);">
                        <strong>• Dev</strong>
                    </small>
                </a>
            </div>
            <div class="col d-flex">
                <ul>
                    <li><strong>Legales</strong></li>
                    <li>Politica de privacidad</li>
                    <li>Terminos y condiciones</li>
                    <li>Proceso de garantia</li>                    
                </ul>
                <ul>
                    <li><strong>Coberturas</strong></li>
                    <li>Proceso de garantia</li>                    
                </ul>
                <ul>
                    <li><strong>Interes</strong></li>
                    <li>Trabaja con Nosotros</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><i class="lni lni-linkedin-original"></i></li>
                    <li>Copyright Marwee © {{copy}} 🍂</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
