<section id="section_task" class="container-fluid section-bg-lines-right s-p">
    <h1 class="title-generate">Nuestros Clientes & Casos de Exito</h1>
    <p>
        This is some placeholder content for the scrollspy page. 
        Note that as you scroll down the page, the appropriate navigation 
        link is highlighted. It's repeated throughout the component example. 
        We keep adding some more example copy here to emphasize the 
        scrolling and highlighting.
    </p>
</section>
