<section id="section_init" class="container-fluid section-bg-lines-right s-p wrapper wrapper-font">
    <div class="container-wrapper container-wrapper-font">
        <div class="brand-center brand-center-font">
            <div class="row">
                <h1>En Marwee</h1>
                <p style="width: 50%; margin:auto;">
                    Nos especializamos en productos personalizados de software para la web, 
                    nuestros clientes disfrutan de un amplio concepto de trabajo en equipo y calidad, 
                    con resultados plenamente garantizados. 
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Demo</h2>
                    <p>Plasma tu idea en nuestra plataforma interactiva.</p>
                    <br>
                    <a class="a-border" title="Ir a Demo" OnClick="inView('section_talk');">
                        Ir a Demo
                        <div class="border-top"></div>
                        <div class="border-bottom"></div>
                    </a>
                </div>
                <div class="col">
                    <h2>Directo</h2>
                    <p>Plasma tu idea en nuestro formulario de cotización.</p>
                    <br>
                    <a class="a-border" title="Formulario" OnClick="inView('section_talk');">
                        Formulario
                        <div class="border-top"></div>
                        <div class="border-bottom"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
