.container-services {
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: -webkit-linear-gradient(30deg, rgba(189,0,118,1) 0%, rgb(41, 6, 73) 100%);
    border: none;
    width: 18rem;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    margin: .8rem;
    text-align: center;
    border-radius: .25rem 1rem .25rem 1rem;
}

.card:nth-child(even) {
    background: -webkit-linear-gradient(180deg, rgba(189,0,118,1) 0%, rgb(41, 6, 73) 100%);
    border-radius: 1rem .25rem 1rem .25rem;
}

.card img {
    width: 80px;
    margin-bottom: 1rem;
}

.card h5 {
    text-transform: capitalize;
}

.card p {
    font-size: 12px;
}