<section id="section_services" class="container-fluid section-bg-lines-left s-p">
    <h1 class="title-generate">Nuestros Servicios para tí</h1>

    <div class="container-services px-3 pt-3 pb-3 d-flex">
        
        <div class="card">
            <div class="card-body">
                <img src="https://assets.website-files.com/605cf560c1c73e1ee595cfc6/60760fe10e9fa58471850674_icon-control.png" alt="">
                <h5>Desarrollo de Software empresarial</h5>
                <p>Productos de software según la necesidad de nuestros clientes.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="https://assets.website-files.com/605cf560c1c73e1ee595cfc6/60760fe16ecc51c27297c6a8_icon-audit.png" alt="">
                <h5>Diseño Web a la Medida</h5>
                <p>Codificación y esquemas de UI y UX para agilizar procesos de desarrollo.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="https://assets.website-files.com/605cf560c1c73e1ee595cfc6/60760fe150498fad26efc52c_icon-encryption.png" alt="">
                <h5>Tercerización de Procesos de Desarrollo de Software</h5>
                <p>
                    Dirección de procesos tecnológicos, 
                    administración de proyectos, resultados a la medida de nuestros clientes, 
                    generación de estadísticas productivas.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="https://assets.website-files.com/605cf560c1c73e1ee595cfc6/60760fe10e9fa58471850674_icon-control.png" alt="">
                <h5>Creación y Posicionamiento de Marca Digital</h5>
                <p>Análisis y planificación idea de negoción según la necesidad.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img src="https://assets.website-files.com/605cf560c1c73e1ee595cfc6/60760fe16ecc51c27297c6a8_icon-audit.png" alt="">
                <h5>Enterprise Resource Planning</h5>
                <p>
                    Planificación de recursos empresariales ERP, 
                    integra u maneja las operaciones de producción 
                    de tu compañía.
                </p>
            </div>
        </div>

    </div>
    
</section>